* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  width: 40rem;
  min-height: 70vh;
  background: linear-gradient(135deg, #c4cad4,#dba2e7);
  margin: 0 auto;
  padding:10px;
  border-radius: 20px;
  position: relative;
}
.add-task {
  width: 100%;
  outline: none;
  font-size: 15px;
  padding: 11px;
  border: 1px solid #f3f3f3;
  margin-bottom: 3px;
  padding:10px;
  border-radius: 20px;
}
.add-button {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #b868dd;
  color: white;
  margin-top: -4.1%;
  height:45px;
  width:70px;
  margin-left: 89%;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  /* align-items: left;
  justify-content: left; */
}
#total-tasks {
  margin-bottom: 20px;
  font-size: 13px;
    margin-left: 2px;
    color: gray;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* border: 1px solid #e5e5e5; */
}
ul li {
  padding: 10px;
  /* padding-left: 0; */
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  align-items: center;
}
ul li:hover {
  background: #e3c3f1;
  border-radius: 6px;
  scale: 1.01;
}
#task-list input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.task span {
  display: flex;
  align-items: center;
}

.task .text {
  width: 33rem;
  word-break: break-all;
}

.task .text.done {
  color: grey;
  text-decoration: line-through;
}

.task .trash-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: rgb(172, 92, 92);
  line-height: 30px;
  align-items: auto;
  cursor: pointer;
  scale: 1.5;
  font-weight: bold;
}

.custom-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #b484c9;
  border-radius: 50%; /* This creates a circular shape */
  margin-right: 5px; /* Adjust this as needed for spacing */
}
.circle-icon-check{
  background-color: #66bb6a;
  border: 2px solid green;
  text-decoration: line-through;
  opacity: .8;
  
}

.task .trash-icon:hover {
  color: red;
}